# SQL Window Functions for Northwind Traders

## - Evaluating employee performance to boost productivity
## - Understanding product sales and category performance to optimize inventory and marketing strategies
## - Analyzing sales growth to identify trends, monitor company progress, and make more accurate forecasts
## - And evaluating customer purchase behavior to target high-value customers with promotional incentives

In [ ]:
import sqlalchemy

In [17]:
%load_ext sql

connection_string = f'postgresql://postgres:TJDdnr!23@localhost:5432/dataquest_sql_project'

%sql $connection_string

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [19]:
%%sql
SELECT table_name AS name,
       table_type AS type
  FROM information_schema.tables
 WHERE table_schema = 'public' AND table_type IN ('BASE TABLE', 'VIEW');

 * postgresql://postgres:***@localhost:5432/dataquest_sql_project
14 rows affected.

[('us_states', 'BASE TABLE'),
 ('customers', 'BASE TABLE'),
 ('orders', 'BASE TABLE'),
 ('employees', 'BASE TABLE'),
 ('shippers', 'BASE TABLE'),
 ('products', 'BASE TABLE'),
 ('order_details', 'BASE TABLE'),
 ('categories', 'BASE TABLE'),
 ('suppliers', 'BASE TABLE'),
 ('region', 'BASE TABLE'),
 ('territories', 'BASE TABLE'),
 ('employee_territories', 'BASE TABLE'),
 ('customer_demographics', 'BASE TABLE'),
 ('customer_customer_demo', 'BASE TABLE')]

## Ranking Employee Sales Performance

### First, the management team wants to recognize and reward top-performing employees, fostering a culture of excellence within the organization.

### Second, they want to identify employees who might be struggling so that they can offer the necessary training or resources to help them improve.

In [40]:
%%sql

WITH tot_sa AS (SELECT e.employee_id, SUM(unit_price * quantity * (1-discount)) AS total_sales
FROM orders o
JOIN employees e
ON o.employee_id = e.employee_id
JOIN order_details od
ON o.order_id = od.order_id
GROUP BY 1
ORDER BY 2 DESC)


SELECT e.employee_id, e.first_name || ' ' || e.last_name AS employee_name, RANK() OVER(ORDER BY ts.total_sales DESC) AS Sales_Rank
FROM employees e
JOIN tot_sa ts
ON e.employee_id = ts.employee_id

 * postgresql://postgres:***@localhost:5432/dataquest_sql_project
9 rows affected.

[(4, 'Margaret Peacock', 1),
 (3, 'Janet Leverling', 2),
 (1, 'Nancy Davolio', 3),
 (2, 'Andrew Fuller', 4),
 (8, 'Laura Callahan', 5),
 (7, 'Robert King', 6),
 (9, 'Anne Dodsworth', 7),
 (6, 'Michael Suyama', 8),
 (5, 'Steven Buchanan', 9)]

# Running Total of Monthly Sales

## New Analysis - Visualize company's sales progress over time on a monthly basis
## This will involve aggregating the sales data at a monthly level and calculating a running total of sales by month. This visual will provide the management team with a clear depiction of sales trends and help identify periods of high or low sales activity.

In [81]:
%%sql
WITH monthly_sales AS (SELECT DATE_TRUNC('month', order_date) AS trunc_date, 
                       SUM(unit_price * quantity * (1-discount)) AS month_total
FROM orders o
JOIN order_details od
USING (order_id)
GROUP BY 1)

SELECT EXTRACT(YEAR FROM trunc_date) AS year, EXTRACT(MONTH FROM trunc_date), 
SUM(month_total) OVER(ORDER BY trunc_date) AS running_total
FROM monthly_sales

 * postgresql://postgres:***@localhost:5432/dataquest_sql_project
23 rows affected.

[(Decimal('1996'), Decimal('7'), 27861.89512966156),
 (Decimal('1996'), Decimal('8'), 53347.17020040483),
 (Decimal('1996'), Decimal('9'), 79728.57033299239),
 (Decimal('1996'), Decimal('10'), 117244.29527847127),
 (Decimal('1996'), Decimal('11'), 162844.3404896083),
 (Decimal('1996'), Decimal('12'), 208083.97098282274),
 (Decimal('1997'), Decimal('1'), 269342.0411508011),
 (Decimal('1997'), Decimal('2'), 307825.6761011254),
 (Decimal('1997'), Decimal('3'), 346372.8962108522),
 (Decimal('1997'), Decimal('4'), 399405.8485997937),
 (Decimal('1997'), Decimal('5'), 453187.13842493534),
 (Decimal('1997'), Decimal('6'), 489549.9407597378),
 (Decimal('1997'), Decimal('7'), 540570.7982783426),
 (Decimal('1997'), Decimal('8'), 587858.4679665978),
 (Decimal('1997'), Decimal('9'), 643487.7103683471),
 (Decimal('1997'), Decimal('10'), 710236.9361440743),
 (Decimal('1997'), Decimal('11'), 753770.7449116395),
 (Decimal('1997'), Decimal('12'), 825169.1733755233),
 (Decimal('1998'), Decimal('1'), 919391.2835824591),
 (Decimal('1998'), Decimal('2'), 1018806.5709654673),
 (Decimal('1998'), Decimal('3'), 1123660.7259656242),
 (Decimal('1998'), Decimal('4'), 1247459.4082211715),
 (Decimal('1998'), Decimal('5'), 1265793.0386533642)]

# Month-Over-Month Sales Growth

## Understanding the rate at which sales are increasing or decreasing from month to month will help the management team identify significant trends

## This can provide a clear picture of the periods of growth or contraction, informing business strategy and decision-making

In [79]:
%%sql
WITH 

monthly_sales AS (
SELECT DATE_TRUNC('month', order_date) AS month, SUM(unit_price * quantity * (1-discount)) AS month_total
FROM orders o
JOIN order_details od
USING (order_id)
GROUP BY 1),

prev_month_sales AS (
SELECT month, month_total, LAG(month_total) OVER(ORDER BY month) AS prev_month_total
FROM monthly_sales)


SELECT EXTRACT(YEAR FROM month) AS year, EXTRACT(MONTH FROM month) AS month,
((month_total - prev_month_total) / prev_month_total) * 100 || '%' AS growth_rate
FROM prev_month_sales

 * postgresql://postgres:***@localhost:5432/dataquest_sql_project
23 rows affected.

[(Decimal('1996'), Decimal('7'), None),
 (Decimal('1996'), Decimal('8'), '-8.530001451294545%'),
 (Decimal('1996'), Decimal('9'), '3.51624637896504%'),
 (Decimal('1996'), Decimal('10'), '42.20520805162909%'),
 (Decimal('1996'), Decimal('11'), '21.54915112904513%'),
 (Decimal('1996'), Decimal('12'), '-0.7903823696967553%'),
 (Decimal('1997'), Decimal('1'), '35.40798079057388%'),
 (Decimal('1997'), Decimal('2'), '-37.17785290199861%'),
 (Decimal('1997'), Decimal('3'), '0.16522649038887202%'),
 (Decimal('1997'), Decimal('4'), '37.579187910257275%'),
 (Decimal('1997'), Decimal('5'), '1.4110800973551207%'),
 (Decimal('1997'), Decimal('6'), '-32.38763433709323%'),
 (Decimal('1997'), Decimal('7'), '40.31057631048775%'),
 (Decimal('1997'), Decimal('8'), '-7.316983704141531%'),
 (Decimal('1997'), Decimal('9'), '17.64005874784288%'),
 (Decimal('1997'), Decimal('10'), '19.98945679265288%'),
 (Decimal('1997'), Decimal('11'), '-34.780054357730286%'),
 (Decimal('1997'), Decimal('12'), '64.00685004404939%'),
 (Decimal('1998'), Decimal('1'), '31.966644412344674%'),
 (Decimal('1998'), Decimal('2'), '5.511633272346428%'),
 (Decimal('1998'), Decimal('3'), '5.47085640480519%'),
 (Decimal('1998'), Decimal('4'), '18.06750267107856%'),
 (Decimal('1998'), Decimal('5'), '-85.1907709370056%')]

# Identifying High-Value Customers

## Identify high-value customers to whom they can offer targeted promotions and special offers, which could drive increased sales, improve customer retention, and attract new customers

In [88]:
%%sql

WITH cust_order_value AS (SELECT o.customer_id, SUM(Unit_Price * Quantity * (1 - Discount)) AS order_value
FROM orders o
JOIN order_details od
ON o.order_id = od.order_id
GROUP BY 1)

SELECT customer_id,  order_value, CASE WHEN
order_value > AVG(order_value) OVER() THEN 'Above Average'
ELSE 'Below Average' END AS value_category
FROM cust_order_value

 * postgresql://postgres:***@localhost:5432/dataquest_sql_project
89 rows affected.

[('TOMSP', 4778.140057610572, 'Below Average'),
 ('LONEP', 4258.599994659424, 'Below Average'),
 ('OLDWO', 15177.462503358722, 'Above Average'),
 ('WARTH', 15648.702585553974, 'Above Average'),
 ('MAGAA', 7176.214951009528, 'Below Average'),
 ('QUEEN', 25717.497604973578, 'Above Average'),
 ('VINET', 1480.0000019073486, 'Below Average'),
 ('ANTON', 7023.977433340102, 'Below Average'),
 ('MORGK', 5042.200035095215, 'Below Average'),
 ('GOURL', 8414.134980559349, 'Below Average'),
 ('WOLZA', 3531.949995994568, 'Below Average'),
 ('GALED', 836.6999950408936, 'Below Average'),
 ('RATTC', 51097.80082826822, 'Above Average'),
 ('WELLI', 6068.199970615655, 'Below Average'),
 ('WILMK', 3161.349983215332, 'Below Average'),
 ('FURIB', 6427.422501099259, 'Below Average'),
 ('DUMON', 1615.8999881744385, 'Below Average'),
 ('FRANK', 26656.559403990017, 'Above Average'),
 ('FAMIA', 4107.5499232776465, 'Below Average'),
 ('TORTU', 10812.150033950806, 'Below Average'),
 ('FRANS', 1545.6999979019165, 'Below Average'),
 ('PRINI', 5044.940011057854, 'Below Average'),
 ('RANCH', 2844.099998474121, 'Below Average'),
 ('PERIC', 4242.200015068054, 'Below Average'),
 ('CONSH', 1719.099988937378, 'Below Average'),
 ('ISLAT', 6146.299984931946, 'Below Average'),
 ('LEHMS', 19261.409954871837, 'Above Average'),
 ('ALFKI', 4273.000009529293, 'Below Average'),
 ('VICTE', 9182.42987764746, 'Below Average'),
 ('RICAR', 12450.800013110042, 'Below Average'),
 ('FOLIG', 11666.900089263916, 'Below Average'),
 ('LINOD', 16476.56491531938, 'Above Average'),
 ('ANATR', 1402.949990272522, 'Below Average'),
 ('LAZYK', 356.99999809265137, 'Below Average'),
 ('QUICK', 110277.30503039382, 'Above Average'),
 ('THEBI', 3361.0000038146973, 'Below Average'),
 ('CHOPS', 12348.880053406656, 'Below Average'),
 ('GROSR', 1488.6999969482422, 'Below Average'),
 ('LACOR', 1992.0500106811523, 'Below Average'),
 ('FRANR', 3172.1600036621094, 'Below Average'),
 ('HUNGO', 49979.90508149549, 'Above Average'),
 ('OTTIK', 12496.1999632217, 'Below Average'),
 ('AROUT', 13390.649973928183, 'Below Average'),
 ('KOENE', 30908.383872538416, 'Above Average'),
 ('MEREP', 28872.19015611842, 'Above Average'),
 ('BLAUS', 3239.799991607666, 'Below Average'),
 ('LAUGB', 522.4999923706055, 'Below Average'),
 ('THECR', 1947.2399940490723, 'Below Average'),
 ('BOLID', 4232.850018620491, 'Below Average'),
 ('BONAP', 21963.252461684533, 'Above Average'),
 ('SANTG', 5735.1500153541565, 'Below Average'),
 ('DRACD', 3763.209972381592, 'Below Average'),
 ('GODOS', 11446.359954776763, 'Below Average'),
 ('NORTS', 649.0, 'Below Average'),
 ('BSBEV', 6089.899990081787, 'Below Average'),
 ('HANAR', 32841.369948457475, 'Above Average'),
 ('SEVES', 16215.325044126435, 'Above Average'),
 ('MAISD', 9736.075006915928, 'Below Average'),
 ('BERGS', 24927.577430965972, 'Above Average'),
 ('FOLKO', 29567.562490026656, 'Above Average'),
 ('SPLIR', 11441.630072270782, 'Below Average'),
 ('CACTU', 1814.7999839782715, 'Below Average'),
 ('OCEAN', 3460.200008392334, 'Below Average'),
 ('SAVEA', 104361.94954039395, 'Above Average'),
 ('BLONP', 18534.080079345105, 'Above Average'),
 ('LETSS', 3076.4724822382627, 'Below Average'),
 ('VAFFE', 15843.924896007406, 'Above Average'),
 ('HILAA', 22768.76392572349, 'Above Average'),
 ('EASTC', 14761.034930229187, 'Above Average'),
 ('PICCO', 23128.86001497373, 'Above Average'),
 ('ERNSH', 104874.97814367746, 'Above Average'),
 ('SPECD', 2423.3500022888184, 'Below Average'),
 ('ROMEY', 1467.2900185585022, 'Below Average'),
 ('SUPRD', 24088.780281318428, 'Above Average'),
 ('COMMI', 3810.749990463257, 'Below Average'),
 ('REGGC', 7048.239968932271, 'Below Average'),
 ('TRADH', 6850.664033139407, 'Below Average'),
 ('CENTC', 100.79999923706055, 'Below Average'),
 ('GREAL', 18507.44997092657, 'Above Average'),
 ('QUEDE', 6664.809939688891, 'Below Average'),
 ('LAMAI', 9328.200014907121, 'Below Average'),
 ('SIMOB', 16817.097612204925, 'Above Average'),
 ('WANDK', 9588.424962970987, 'Below Average'),
 ('HUNGC', 3063.2000246047974, 'Below Average'),
 ('LILAS', 16076.599920950532, 'Above Average'),
 ('WHITC', 27363.604900210797, 'Above Average'),
 ('RICSU', 19343.778920320852, 'Above Average'),
 ('TRAIH', 1571.1999893188477, 'Below Average'),
 ('BOTTM', 20801.59995229095, 'Above Average')]

In [96]:
%%sql
WITH 
cust_order_value AS (SELECT o.customer_id, SUM(Unit_Price * Quantity * (1 - Discount)) AS order_value
FROM orders o
JOIN order_details od
ON o.order_id = od.order_id
GROUP BY 1),

val_cat AS (SELECT customer_id,  order_value, CASE WHEN
order_value > AVG(order_value) OVER() THEN 'Above Average'
ELSE 'Below Average' END AS value_category
FROM cust_order_value)

SELECT COUNT(value_category) AS Number_of_Above_Average
FROM val_cat
WHERE value_category = 'Above Average'

 * postgresql://postgres:***@localhost:5432/dataquest_sql_project
1 rows affected.

[(30,)]

# Percentage of Sales for Each Category

## Product and Category performance

## which categories should be stocked more heavily
## which categories should be promoted more aggressively

In [102]:
%%sql

WITH product_total_sales AS (SELECT category_id, category_name, SUM(od.Unit_Price * Quantity * (1 - Discount)) AS total_sales
FROM categories c
JOIN products p
USING (category_id)
JOIN order_details od
ON p.product_id = od.product_id
GROUP BY 1,2)

SELECT category_id, category_name, (total_sales / SUM(total_sales) OVER()) * 100 AS total_sales_per_product
FROM product_total_sales pts
ORDER BY 3 DESC

 * postgresql://postgres:***@localhost:5432/dataquest_sql_project
8 rows affected.

[(1, 'Beverages', 21.162083500729633),
 (4, 'Dairy Products', 18.52651084098727),
 (3, 'Confections', 13.221531511299172),
 (6, 'Meat/Poultry', 12.879069112449296),
 (8, 'Seafood', 10.369920875492724),
 (2, 'Condiments', 8.3779165607018),
 (7, 'Produce', 7.8989674473124385),
 (5, 'Grains/Cereals', 7.5640001510276695)]

# Top Products Per Category

## Top three items sold in each product category

In [118]:
%%sql

WITH 
prod_cat_tot_sales AS (
SELECT category_id, product_id, product_name, SUM(od.Unit_Price * Quantity * (1 - Discount)) AS total_sales
FROM products p
JOIN order_details od
USING (product_id)
GROUP BY 1,2),

ranking AS (SELECT category_id, product_id, product_name, total_sales, ROW_NUMBER() OVER(PARTITION BY category_id ORDER BY total_sales DESC)
FROM prod_cat_tot_sales pcts)

SELECT category_id, product_id, product_name, total_sales
FROM ranking
WHERE row_number <= 3

 * postgresql://postgres:***@localhost:5432/dataquest_sql_project
24 rows affected.

[(1, 38, 'Cte de Blaye', 141396.7356273254),
 (1, 43, 'Ipoh Coffee', 23526.699842727183),
 (1, 2, 'Chang', 16355.959905386866),
 (2, 63, 'Vegie-spread', 16701.095047264098),
 (2, 61, "Sirop d'rable", 14352.599874171614),
 (2, 65, 'Louisiana Fiery Hot Pepper Sauce', 13869.8894459071),
 (3, 62, 'Tarte au sucre', 47234.969978504174),
 (3, 20, "Sir Rodney's Marmalade", 22563.36029526442),
 (3, 26, 'Gumbr Gummibrchen', 19849.14417082793),
 (4, 59, 'Raclette Courdavault', 71155.69990943),
 (4, 60, 'Camembert Pierrot', 46825.48029542655),
 (4, 72, 'Mozzarella di Giovanni', 24900.12939154029),
 (5, 56, 'Gnocchi di nonna Alice', 42593.0598222503),
 (5, 64, 'Wimmers gute Semmelkndel', 21957.96757586673),
 (5, 42, 'Singaporean Hokkien Fried Mee', 8574.999964818358),
 (6, 29, 'Thringer Rostbratwurst', 80368.6724385033),
 (6, 17, 'Alice Mutton', 32698.380216373203),
 (6, 53, 'Perth Pasties', 20574.169932212233),
 (7, 51, 'Manjimup Dried Apples', 41819.65024582073),
 (7, 28, 'Rssle Sauerkraut', 25696.63978933155),
 (7, 7, "Uncle Bob's Organic Dried Pears", 22044.29998782277),
 (8, 18, 'Carnarvon Tigers', 29171.874963399023),
 (8, 10, 'Ikura', 20867.339869279265),
 (8, 40, 'Boston Crab Meat', 17910.62964561701)]